//__________________ hero section
.hero-section {
  overflow: hidden;
  color: #343d4f;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .hero-img-wp {
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  .category-title {
    font-size: 2.5rem;
  }

  .hero-blurb-wp {

    .hero-title {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    .hero-sub-title {
      font-size: 2.1rem;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 2rem;
    }

    .cta-wp {
      .search-button {
        background-color: $main-blue-color;
        border: 2px solid $main-blue-color;
        border-radius: 2px;
        color: #ffffff;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 10px;
        padding: 10px;

        &:hover {
          background-color: #ffffff;
          color: $main-blue-color;
          border: 2px solid $main-blue-color;
        }
      }

      .bookmarks-wp {
        display: inline-block;
        font-size: 0;

        .bookmarks-btn {
          background-color: $main-green-color;
          border: 2px solid $main-green-color;
          border-radius: 2px 0 0 2px;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 10px;
          text-transform: uppercase;

          &:hover {
            background-color: #ffffff;
            color: $main-green-color;
            border: 2px solid $main-green-color;
          }
        }

        .my-bookmarks-counter {
          border: 2px solid $main-green-color;
          border-left: none;
          color: $main-green-color;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 10px;
        }
      }
    }
  }
}

.search-wp {
  margin-bottom: 2rem;
  
  .search-inner-wp {
    border: 2px solid $bg-color;
    padding: 1rem;
    
    .search-title {
      color: $main-blue-color;
      font-size: 2.1rem;
      margin-bottom: 2rem;
    }

    .description {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
    }

    .search {
      position: relative;
      color: #aaa;
      font-size: 1.6rem;
      margin-bottom: 2rem;

      input {
        width: 28rem;
        height: 3.2rem;
        background: #fcfcfc;
        border: 1px solid #aaa;
        padding: 1rem;
        outline: none;
      }

      .fa-search {
        color: $main-blue-color;
        font-size: 1.8rem;
        position: absolute;
        right: 10px;
        top: 6px;
      }
    }

    .popular-searches-title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    .popular-searches-text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .view-all-resources-btn {
      background-color: #ffffff;
      border: 2px solid $main-green-color;
      border-radius: 3px;
      color: $main-green-color;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 10px 15px;

      &:hover {
        background-color: $main-green-color;
        color: #ffffff;
      }
    }
  }

}

.my-bookmarks-wp {
  margin-bottom: 2rem;
  .bookmarks-inner-wp {
    border: 2px solid $bg-color;
    padding: 1rem;

    .my-bookmarks-title {
      color: $main-green-color;
      font-size: 2.1rem;
      margin-bottom: 2rem;
    }

    .description {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
    }

    .see-bookmarks-btn {
      background-color: #ffffff;
      border: 2px solid $main-green-color;
      border-radius: 3px;
      color: $main-green-color;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 3rem;
      padding: 10px 15px;

      &:hover {
        background-color: $main-green-color;
        color: #ffffff;
      }
    }

    .did-you-know-title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    .did-you-know-text {
      font-size: 1.4rem;
    }

  }
}


//__________________ sections

.category-section-title {
  font-size: 2.2rem;
}

.section-underline {
  border: 2px solid $main-green-color;
  margin: 3rem 0;
  width: 12rem;
}
//__________________ categories section


.categories-section {
  background-color: $bg-color;
  padding-top: 3rem;

  .category-section-description {
    color: #aaa;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .categories-wp {
    width: 100%;
    margin-bottom: 3rem;
  }

  .category-link-wp {
    cursor: pointer;
    text-decoration: none;
    width: 100%;

    .category {
      color: #000000;
      border-radius: 5px;
      padding: 1.5rem 1rem;
      margin-bottom: 1rem;

      &:hover {
        background-color: $bg-color;
      }

      .category-title {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 1rem;
      }

      .category-description {
        font-size: 1.6rem;
        line-height: 2.2rem;
        word-wrap: break-word;
      }
    }

    .ceo {
      @extend .category;
      background-color: $main-blue-color;
      border: 2px solid $main-blue-color;
      color: #ffffff;
      &:hover {
        color: $main-blue-color;
      }
    }

    .communications {
      @extend .category;
      background-color: $category-dark-blue;
      border: 2px solid $category-dark-blue;
      color: #ffffff;
      &:hover {
        color: $category-dark-blue;
      }
    }

    .evaluation {
      @extend .category;
      background-color: $category-orange;
      border: 2px solid $category-orange;
      color: #ffffff;
      &:hover {
        color: $category-orange;
      }
    }

    .organizational {
      @extend .category;
      background-color: $category-green;
      border: 2px solid $category-green;
      color: #ffffff;
      &:hover {
        color: $category-green;
      }
    }

    .programs {
      @extend .category;
      background-color: $category-yellow;
      border: 2px solid $category-yellow;
      color: #ffffff;
      &:hover {
        color: $category-yellow;
      }
    }

    .lorem {
      @extend .category;
      background-color: $category-magenta;
      border: 2px solid $category-magenta;
      color: #ffffff;
      &:hover {
        color: $category-magenta;
      }
    }
  }
}

//__________________ popular resources section

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  padding: 2rem;
  position: relative;


  .tag {
    background-color: $main-green-color;
    border-radius: 50%;
    height: 45px;
    position: absolute;
    right: 10px;
    top: -1.5rem;
    width: 45px;

    i {
      color: #ffffff;
      font-size: 2.5rem;
      font-weight: 700;
      left: 50%;
      margin-left: -12px;
      margin-top: -12px;
      position: absolute;
      top: 50%;
    }
  }

  .card-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: 2rem;
    padding-right: 4rem;
    word-wrap: break-word;
  }

  .card-text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    word-wrap: break-word;
  }

  .view-card {
    background-color: $main-blue-color;
    border: 2px solid $main-blue-color;
    border-radius: 2px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 7px 10px;
    margin-bottom: 5px;
  }

}

.resources-section {
  padding-bottom: 4rem;
}










