.category-title-section {

  .category-title {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
  }

  .title-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .cta-wp {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.listing-resources-section {
  padding: 2rem 0 3rem;
  background-color: $bg-color;

  .filters-section {
    @media screen and (min-width: $lg-min-width) {
      background-color: #ffffff;
      -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
      display: inline-block;
      margin-right: 2rem;
      padding: 2rem;
      vertical-align: top;
      width: 25rem;
    }

    .search-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      @media screen and (min-width: $lg-min-width) {
        font-size: 1.7rem;
      }
    }

    .search {
      color: $light-text-color;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      max-width: 19rem;
      position: relative;
      @media screen and (min-width: $lg-min-width) {
        margin-bottom: 3rem;
        max-width: 21rem;
      }

      input {
        width: 19rem;
        height: 3.8rem;
        background: $bg-color;
        border: 1px solid #aaa;
        padding: 1rem;
        outline: none;
        @media screen and (min-width: $lg-min-width) {
          background-color: #ffffff;
          width: 21rem;
        }
      }

      .fa-search {
        color: $main-blue-color;
        font-size: 1.8rem;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    .filters-list {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: right;
      width: calc(100% - 19rem);
      @media screen and (min-width: $lg-min-width) {
        display: block;
        text-align: left;
        width: 100%;
      }
      .filters-btn {
        padding: 1rem 0;
        @media screen and (min-width: $lg-min-width) {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        cursor: pointer;
      }

      .filters-wp {
        display: none;
        @media screen and (min-width: $lg-min-width) {
          display: block;
        }

        .refine-title {
          margin-bottom: 1.6rem;
        }

        .filter-block {
          border-bottom: 1px solid $list-text-color;
          margin-bottom: 2rem;
          padding-bottom: 2rem;

          &.staff-block {
            border-bottom: none;
          }

          .filter-block-header {
            margin-bottom: 1rem;
          }

          .filters {
            color: $light-text-color;
            font-size: 1.5rem;
            font-weight: 300;

            .filter {
              color: $list-text-color;
              line-height: 2rem;

              .title-expander-wp {
                &:hover {
                  color: $main-green-color;
                  i {
                    color: $main-green-color;
                  }
                }
              }

              .single-filter {
                max-width: 180px;
              }

              .filter-expander {
                float: right;
                color: $list-text-color;
              }

              .second-level-filter {
                display: none;
                margin-left: 1rem;
              }

              .second-level-visible {
                display: block;
              }
            }

            .filter, .secondary-filter {
              line-height: 2.3rem;

              &:hover {
                cursor: pointer;

                .filter-title {
                  color: $main-green-color;
                }
              }
              .clear-filter {
                color: transparent;
              }
            }

            .secondary-filter {
              &:hover {
                .secondary-filter-title {
                  color: $main-green-color;
                }
              }
            }

            .filter-active {
              color: $main-green-color;

              .clear-filter {
                color: $main-green-color;
              }
            }
          }
        }
      }

      .filters-wp-visible {
        display: block;
        -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
        background-color: white;
        padding: 2rem;
        position: absolute;
        right: 2rem;
        text-align: left;
        width: 250px;
        z-index: 2;
        @media screen and (min-width: $lg-min-width) {
          box-shadow: none;
          padding: 0;
          position: relative;
          right: 0;
          width: 100%;
          z-index: 0;
        }

      }
    }

    .type-filters-list {

      .type-filter {
        color: $list-text-color;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 1rem 0;

        &:hover {
          color: $main-green-color;

          .filter-icon-wp {
            background-color: $main-green-color;
          }
        }

        .filter-icon-wp {
          background-color: $list-text-color;
          border-radius: 50%;
          display: inline-block;
          height: 3rem;
          margin-right: 1rem;
          position: relative;
          vertical-align: middle;
          width: 3rem;

          i {
            color: #ffffff;
            font-size: 1.5rem;
            left: 50%;
            margin-left: -6px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
          }
        }

        .type-filter-text {
          display: inline-block;
          margin-right: 5px;
        }

        .clear-filter {
          display: none;
          font-size: 1.75rem;
        }

        &.filter-active {
          color: $main-green-color;

          .filter-icon-wp {
            background-color: $main-green-color;
          }

          .clear-filter {
            display: inline-block;
          }
        }
      }
    }

    .clear-filters-block {
      padding: 1rem 0;

      &:hover {
        cursor: pointer;

        .clear-filters-text {
          color: $main-green-color;
        }
      }
    }
  }

  .list-items-section {
    @media screen and (min-width: $lg-min-width) {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 320px);
    }

    .cards-wp {
      margin-bottom: 2rem;

      .card {
        margin-bottom: 2rem;
        padding: 1.5rem 1.5rem 1rem;
        .tag {
          right: -5px;
        }

        .card-img-wp {
          display: inline-block;
          max-width: 135px;
          max-height: 135px;
          vertical-align: top;
          width: 40%;
        }

        .card-text-wp {
          display: inline-block;
          padding-left: 2rem;
          width: 60%;

          .card-title {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            padding-right: 0;
          }
        }
      }
    }

    .paginator {

    }
  }
}
