* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100% !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;
}

@media screen and (min-width: 544px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 76px;
  }
}

ul {
  list-style-type: none;
}

.hero-section {
  overflow: hidden;
  color: #343d4f;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 5.4rem;
  }
}

.hero-section .hero-switchable-wp {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-switchable-wp {
    max-height: 260px;
    max-width: 345px;
    position: absolute;
    right: 10px;
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .hero-section .hero-switchable-wp {
    right: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section .hero-switchable-wp {
    right: 12rem;
  }
}

.hero-section .hero-img-wp {
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-img-wp {
    max-height: 260px;
    max-width: 345px;
  }
}

.hero-section .hero-img-wp img {
  width: 100%;
}

.hero-section .category-title {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp {
    display: inline-block;
    height: 373px;
    padding-right: 5rem;
    width: 60%;
  }
}

.hero-section .hero-blurb-wp .hero-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .hero-title {
    line-height: 3.7rem;
    margin-bottom: 3rem;
  }
}

.hero-section .hero-blurb-wp .hero-sub-title {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .hero-sub-title {
    line-height: 2.8rem;
  }
}

.cta-wp .search-button {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .cta-wp .search-button {
    font-size: 1.7rem;
  }
}

.cta-wp .search-button:hover {
  background-color: #ffffff;
  border: 2px solid #00aeef;
  color: #00aeef;
  cursor: pointer;
}

.cta-wp .bookmarks-wp {
  display: inline-block;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .cta-wp .bookmarks-wp {
    margin-top: 10px;
  }
}

.cta-wp .bookmarks-wp .bookmarks-btn {
  background-color: #00a7b5;
  border: 2px solid #00a7b5;
  border-radius: 2px 0 0 2px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .cta-wp .bookmarks-wp .bookmarks-btn {
    font-size: 1.7rem;
  }
}

.cta-wp .bookmarks-wp .bookmarks-btn:hover {
  background-color: #ffffff;
  border: 2px solid #00a7b5;
  color: #00a7b5;
  cursor: pointer;
}

.cta-wp .bookmarks-wp .my-bookmarks-counter {
  border: 2px solid #00a7b5;
  border-left: none;
  color: #00a7b5;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .cta-wp .bookmarks-wp .my-bookmarks-counter {
    font-size: 1.7rem;
    padding: 10.5px;
  }
}

.search-wp {
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp {
  border: 2px solid #f1f1f1;
  padding: 1rem;
}

@media screen and (min-width: 544px) {
  .search-wp .search-inner-wp {
    padding: 2rem 1rem;
  }
}

.search-wp .search-inner-wp .search-title {
  color: #00aeef;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .search {
  position: relative;
  color: #7e8890;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  max-width: 280px;
}

.search-wp .search-inner-wp .search input {
  width: 28rem;
  height: 3.2rem;
  background: #fcfcfc;
  border: 1px solid #aaa;
  padding: 1rem;
  outline: none;
}

.search-wp .search-inner-wp .search .fa-search {
  color: #00aeef;
  font-size: 1.8rem;
  position: absolute;
  right: 10px;
  top: 6px;
}

.search-wp .search-inner-wp .popular-searches-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.search-wp .search-inner-wp .popular-searches-text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .view-all-resources-btn {
  background-color: #ffffff;
  border: 2px solid #00a7b5;
  border-radius: 3px;
  color: #00a7b5;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 15px;
}

@media screen and (min-width: 544px) {
  .search-wp .search-inner-wp .view-all-resources-btn {
    margin-bottom: 1rem;
  }
}

.search-wp .search-inner-wp .view-all-resources-btn:hover {
  background-color: #00a7b5;
  color: #ffffff;
}

.my-bookmarks-wp {
  margin-bottom: 2rem;
}

.my-bookmarks-wp .bookmarks-inner-wp {
  border: 2px solid #f1f1f1;
  padding: 1rem;
}

@media screen and (min-width: 544px) {
  .my-bookmarks-wp .bookmarks-inner-wp {
    padding: 2rem 1rem;
  }
}

.my-bookmarks-wp .bookmarks-inner-wp .my-bookmarks-title {
  color: #00a7b5;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .see-bookmarks-btn {
  background-color: #ffffff;
  border: 2px solid #00a7b5;
  border-radius: 3px;
  color: #00a7b5;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  padding: 10px 15px;
}

.my-bookmarks-wp .bookmarks-inner-wp .see-bookmarks-btn:hover {
  background-color: #00a7b5;
  color: #ffffff;
}

.my-bookmarks-wp .bookmarks-inner-wp .did-you-know-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .did-you-know-text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.category-section-title {
  font-size: 2.2rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .category-section-title {
    font-size: 2.6rem;
  }
}

.section-underline {
  border: 2px solid #00a7b5;
  margin: 3rem 0;
  width: 12rem;
}

@media screen and (min-width: 768px) {
  .section-underline {
    margin: 2rem 0 3.6rem;
  }
}

.categories-section {
  background-color: #f1f1f1;
  padding-top: 3rem;
}

@media screen and (min-width: 768px) {
  .categories-section {
    padding-top: 5rem;
  }
}

.categories-section .category-section-description {
  color: #7e8890;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .categories-section .category-section-description {
    margin-bottom: 3rem;
  }
}

.categories-section .categories-wp {
  padding-bottom: 3rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .categories-section .categories-wp {
    padding-bottom: 4rem;
    text-align: center;
  }
}

.categories-section .category-link-wp {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.categories-section .category-link-wp .category, .categories-section .category-link-wp .ceo, .categories-section .category-link-wp .communications, .categories-section .category-link-wp .evaluation, .categories-section .category-link-wp .organizational, .categories-section .category-link-wp .programs, .categories-section .category-link-wp .lorem {
  color: #000000;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .categories-section .category-link-wp .category, .categories-section .category-link-wp .ceo, .categories-section .category-link-wp .communications, .categories-section .category-link-wp .evaluation, .categories-section .category-link-wp .organizational, .categories-section .category-link-wp .programs, .categories-section .category-link-wp .lorem {
    display: inline-block;
    text-align: left;
    padding: 1rem;
    width: 48%;
    vertical-align: top;
  }
  .categories-section .category-link-wp .category:nth-child(odd), .categories-section .category-link-wp .ceo:nth-child(odd), .categories-section .category-link-wp .communications:nth-child(odd), .categories-section .category-link-wp .evaluation:nth-child(odd), .categories-section .category-link-wp .organizational:nth-child(odd), .categories-section .category-link-wp .programs:nth-child(odd), .categories-section .category-link-wp .lorem:nth-child(odd) {
    margin-right: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .categories-section .category-link-wp .category, .categories-section .category-link-wp .ceo, .categories-section .category-link-wp .communications, .categories-section .category-link-wp .evaluation, .categories-section .category-link-wp .organizational, .categories-section .category-link-wp .programs, .categories-section .category-link-wp .lorem {
    width: 31%;
  }
}

.categories-section .category-link-wp .category:hover, .categories-section .category-link-wp .ceo:hover, .categories-section .category-link-wp .communications:hover, .categories-section .category-link-wp .evaluation:hover, .categories-section .category-link-wp .organizational:hover, .categories-section .category-link-wp .programs:hover, .categories-section .category-link-wp .lorem:hover {
  background-color: #f1f1f1;
}

.categories-section .category-link-wp .category .category-title, .categories-section .category-link-wp .ceo .category-title, .categories-section .category-link-wp .communications .category-title, .categories-section .category-link-wp .evaluation .category-title, .categories-section .category-link-wp .organizational .category-title, .categories-section .category-link-wp .programs .category-title, .categories-section .category-link-wp .lorem .category-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .categories-section .category-link-wp .category .category-title, .categories-section .category-link-wp .ceo .category-title, .categories-section .category-link-wp .communications .category-title, .categories-section .category-link-wp .evaluation .category-title, .categories-section .category-link-wp .organizational .category-title, .categories-section .category-link-wp .programs .category-title, .categories-section .category-link-wp .lorem .category-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

.categories-section .category-link-wp .category .category-description, .categories-section .category-link-wp .ceo .category-description, .categories-section .category-link-wp .communications .category-description, .categories-section .category-link-wp .evaluation .category-description, .categories-section .category-link-wp .organizational .category-description, .categories-section .category-link-wp .programs .category-description, .categories-section .category-link-wp .lorem .category-description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .categories-section .category-link-wp .category .category-description, .categories-section .category-link-wp .ceo .category-description, .categories-section .category-link-wp .communications .category-description, .categories-section .category-link-wp .evaluation .category-description, .categories-section .category-link-wp .organizational .category-description, .categories-section .category-link-wp .programs .category-description, .categories-section .category-link-wp .lorem .category-description {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

.categories-section .category-link-wp .ceo {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  color: #ffffff;
}

.categories-section .category-link-wp .ceo:hover {
  color: #00aeef;
}

.categories-section .category-link-wp .communications {
  background-color: #00659d;
  border: 2px solid #00659d;
  color: #ffffff;
}

.categories-section .category-link-wp .communications:hover {
  color: #00659d;
}

.categories-section .category-link-wp .evaluation {
  background-color: #ee7722;
  border: 2px solid #ee7722;
  color: #ffffff;
}

.categories-section .category-link-wp .evaluation:hover {
  color: #ee7722;
}

.categories-section .category-link-wp .organizational {
  background-color: #00b6c9;
  border: 2px solid #00b6c9;
  color: #ffffff;
}

.categories-section .category-link-wp .organizational:hover {
  color: #00b6c9;
}

.categories-section .category-link-wp .programs {
  background-color: #ffce34;
  border: 2px solid #ffce34;
  color: #ffffff;
}

.categories-section .category-link-wp .programs:hover {
  color: #ffce34;
}

.categories-section .category-link-wp .lorem {
  background-color: #b6006a;
  border: 2px solid #b6006a;
  color: #ffffff;
}

.categories-section .category-link-wp .lorem:hover {
  color: #b6006a;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.19);
  margin-bottom: 3rem;
  padding: 2rem;
  position: relative;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .card {
    display: inline-block;
    padding: 1.5rem;
    vertical-align: top;
    width: 48%;
  }
  .card:nth-child(odd) {
    margin-right: 2rem;
  }
}

.card .card-text-wp {
  display: block;
}

@media screen and (min-width: 768px) {
  .card .card-text-wp {
    display: inline-block;
    padding-left: 2rem;
    width: 60%;
  }
}

.card .card-img-wp {
  display: none;
}

@media screen and (min-width: 768px) {
  .card .card-img-wp {
    display: inline-block;
    height: 170px;
    max-width: 135px;
    max-height: 170px;
    vertical-align: top;
    width: 40%;
  }
}

.card .card-img-wp img {
  width: 100%;
}

.card .tag {
  background-color: #00a7b5;
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  right: 5px;
  top: -1.5rem;
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .card .tag {
    right: 1rem;
  }
}

.card .tag i {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  left: 50%;
  margin-left: -7px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.card .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  padding-right: 4rem;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .card .card-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-right: 0;
  }
}

.card .card-text {
  color: #7e8890;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 2.2rem;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .card .card-text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

.card .view-card {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 7px 10px;
  margin-bottom: 5px;
}

.card .view-card:hover {
  background-color: #ffffff;
  color: #00aeef;
}

.resources-section {
  padding-bottom: 4rem;
  background-color: #f1f1f1;
}

@media screen and (min-width: 768px) {
  .resources-section .cards-wp {
    font-size: 0;
    padding-top: 1.5rem;
    text-align: center;
  }
}

.category-title-section .category-title {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

.category-title-section .title-text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.category-title-section .cta-wp {
  text-align: center;
  margin-bottom: 3rem;
}

.listing-resources-section {
  padding: 2rem 0 3rem;
  background-color: #f1f1f1;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section {
    background-color: #ffffff;
    box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-right: 2rem;
    padding: 2rem;
    vertical-align: top;
    width: 25rem;
  }
}

.listing-resources-section .filters-section .search-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .search-title {
    font-size: 1.7rem;
  }
}

.listing-resources-section .filters-section .search {
  color: #7e8890;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  max-width: 19rem;
  position: relative;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .search {
    margin-bottom: 3rem;
    max-width: 21rem;
  }
}

.listing-resources-section .filters-section .search input {
  width: 19rem;
  height: 3.8rem;
  background: #f1f1f1;
  border: 1px solid #aaa;
  padding: 1rem;
  outline: none;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .search input {
    background-color: #ffffff;
    width: 21rem;
  }
}

.listing-resources-section .filters-section .search .fa-search {
  color: #00aeef;
  font-size: 1.8rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.listing-resources-section .filters-section .filters-list {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: right;
  width: calc(100% - 19rem);
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .filters-list {
    display: block;
    text-align: left;
    width: 100%;
  }
}

.listing-resources-section .filters-section .filters-list .filters-btn {
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .filters-list .filters-btn {
    display: none;
  }
}

.listing-resources-section .filters-section .filters-list .filters-btn:hover {
  cursor: pointer;
}

.listing-resources-section .filters-section .filters-list:hover {
  cursor: pointer;
}

.listing-resources-section .filters-section .filters-list .filters-wp {
  display: none;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .filters-list .filters-wp {
    display: block;
  }
}

.listing-resources-section .filters-section .filters-list .filters-wp .refine-title {
  margin-bottom: 1.6rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block {
  border-bottom: 1px solid #9ea5ab;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block.staff-block {
  border-bottom: none;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filter-block-header {
  margin-bottom: 1rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters {
  color: #7e8890;
  font-size: 1.5rem;
  font-weight: 300;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter {
  color: #9ea5ab;
  line-height: 2rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .title-expander-wp:hover {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .title-expander-wp:hover i {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .single-filter {
  max-width: 180px;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .filter-expander {
  float: right;
  color: #9ea5ab;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .second-level-filter {
  display: none;
  margin-left: 1rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .second-level-visible {
  display: block;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter, .listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .secondary-filter {
  line-height: 2.3rem;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter:hover, .listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .secondary-filter:hover {
  cursor: pointer;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter:hover .filter-title, .listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .secondary-filter:hover .filter-title {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter .clear-filter, .listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .secondary-filter .clear-filter {
  color: transparent;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .secondary-filter:hover .secondary-filter-title {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter-active {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp .filter-block .filters .filter-active .clear-filter {
  color: #00a7b5;
}

.listing-resources-section .filters-section .filters-list .filters-wp-visible {
  display: block;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
  background-color: white;
  padding: 2rem;
  position: absolute;
  right: 2rem;
  text-align: left;
  width: 250px;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .filters-section .filters-list .filters-wp-visible {
    box-shadow: none;
    padding: 0;
    position: relative;
    right: 0;
    width: 100%;
    z-index: 0;
  }
}

.listing-resources-section .filters-section .type-filters-list .type-filter {
  color: #9ea5ab;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.listing-resources-section .filters-section .type-filters-list .type-filter:hover {
  color: #00a7b5;
}

.listing-resources-section .filters-section .type-filters-list .type-filter:hover .filter-icon-wp {
  background-color: #00a7b5;
}

.listing-resources-section .filters-section .type-filters-list .type-filter .filter-icon-wp {
  background-color: #9ea5ab;
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  margin-right: 1rem;
  position: relative;
  vertical-align: middle;
  width: 3rem;
}

.listing-resources-section .filters-section .type-filters-list .type-filter .filter-icon-wp i {
  color: #ffffff;
  font-size: 1.5rem;
  left: 50%;
  margin-left: -6px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.listing-resources-section .filters-section .type-filters-list .type-filter .type-filter-text {
  display: inline-block;
  margin-right: 5px;
}

.listing-resources-section .filters-section .type-filters-list .type-filter .clear-filter {
  display: none;
  font-size: 1.75rem;
}

.listing-resources-section .filters-section .type-filters-list .type-filter.filter-active {
  color: #00a7b5;
}

.listing-resources-section .filters-section .type-filters-list .type-filter.filter-active .filter-icon-wp {
  background-color: #00a7b5;
}

.listing-resources-section .filters-section .type-filters-list .type-filter.filter-active .clear-filter {
  display: inline-block;
}

.listing-resources-section .filters-section .clear-filters-block {
  padding: 1rem 0;
}

.listing-resources-section .filters-section .clear-filters-block:hover {
  cursor: pointer;
}

.listing-resources-section .filters-section .clear-filters-block:hover .clear-filters-text {
  color: #00a7b5;
}

@media screen and (min-width: 992px) {
  .listing-resources-section .list-items-section {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 320px);
  }
}

.listing-resources-section .list-items-section .cards-wp {
  margin-bottom: 2rem;
}

.listing-resources-section .list-items-section .cards-wp .card {
  margin-bottom: 2rem;
  padding: 1.5rem 1.5rem 1rem;
}

.listing-resources-section .list-items-section .cards-wp .card .tag {
  right: -5px;
}

.listing-resources-section .list-items-section .cards-wp .card .card-img-wp {
  display: inline-block;
  max-width: 135px;
  max-height: 135px;
  vertical-align: top;
  width: 40%;
}

.listing-resources-section .list-items-section .cards-wp .card .card-text-wp {
  display: inline-block;
  padding-left: 2rem;
  width: 60%;
}

.listing-resources-section .list-items-section .cards-wp .card .card-text-wp .card-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding-right: 0;
}

/*# sourceMappingURL=default.css.map */
