* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100% !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

.main-content {
  font-size: 10px;
  max-width: 1280px;
}

.container {
  font-size: 0;
  padding: 0 10px;
}

@media screen and (min-width: 544px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 83px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 76px;
  }
}

.hero-section {
  overflow: hidden;
  color: #343d4f;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-section .hero-switchable-wp {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-switchable-wp {
    width: 45%;
    position: absolute;
    right: 10px;
  }
}

.hero-section .hero-img-wp {
  margin-bottom: 2rem;
  text-align: center;
}

.hero-section .hero-img-wp img {
  width: 100%;
}

.hero-section .category-title {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp {
    display: inline-block;
    padding-right: 5rem;
    width: 60%;
  }
}

.hero-section .hero-blurb-wp .hero-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .hero-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.hero-section .hero-blurb-wp .hero-sub-title {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 2rem;
}

.hero-section .hero-blurb-wp .cta-wp .search-button {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .cta-wp .search-button {
    font-size: 1.7rem;
  }
}

.hero-section .hero-blurb-wp .cta-wp .search-button:hover {
  background-color: #ffffff;
  color: #00aeef;
  border: 2px solid #00aeef;
}

.hero-section .hero-blurb-wp .cta-wp .bookmarks-wp {
  display: inline-block;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .cta-wp .bookmarks-wp {
    margin-top: 10px;
  }
}

.hero-section .hero-blurb-wp .cta-wp .bookmarks-wp .bookmarks-btn {
  background-color: #00a7b5;
  border: 2px solid #00a7b5;
  border-radius: 2px 0 0 2px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .cta-wp .bookmarks-wp .bookmarks-btn {
    font-size: 1.7rem;
  }
}

.hero-section .hero-blurb-wp .cta-wp .bookmarks-wp .bookmarks-btn:hover {
  background-color: #ffffff;
  color: #00a7b5;
  border: 2px solid #00a7b5;
}

.hero-section .hero-blurb-wp .cta-wp .bookmarks-wp .my-bookmarks-counter {
  border: 2px solid #00a7b5;
  border-left: none;
  color: #00a7b5;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .hero-section .hero-blurb-wp .cta-wp .bookmarks-wp .my-bookmarks-counter {
    font-size: 1.7rem;
    padding: 10.5px;
  }
}

.search-wp {
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp {
  border: 2px solid #f1f1f1;
  padding: 1rem;
}

@media screen and (min-width: 544px) {
  .search-wp .search-inner-wp {
    padding: 2rem 1rem;
  }
}

.search-wp .search-inner-wp .search-title {
  color: #00aeef;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .search {
  position: relative;
  color: #aaa;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .search input {
  width: 28rem;
  height: 3.2rem;
  background: #fcfcfc;
  border: 1px solid #aaa;
  padding: 1rem;
  outline: none;
}

.search-wp .search-inner-wp .search .fa-search {
  color: #00aeef;
  font-size: 1.8rem;
  position: absolute;
  right: 10px;
  top: 6px;
}

.search-wp .search-inner-wp .popular-searches-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.search-wp .search-inner-wp .popular-searches-text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.search-wp .search-inner-wp .view-all-resources-btn {
  background-color: #ffffff;
  border: 2px solid #00a7b5;
  border-radius: 3px;
  color: #00a7b5;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 15px;
}

@media screen and (min-width: 544px) {
  .search-wp .search-inner-wp .view-all-resources-btn {
    margin-bottom: 1rem;
  }
}

.search-wp .search-inner-wp .view-all-resources-btn:hover {
  background-color: #00a7b5;
  color: #ffffff;
}

.my-bookmarks-wp {
  margin-bottom: 2rem;
}

.my-bookmarks-wp .bookmarks-inner-wp {
  border: 2px solid #f1f1f1;
  padding: 1rem;
}

@media screen and (min-width: 544px) {
  .my-bookmarks-wp .bookmarks-inner-wp {
    padding: 2rem 1rem;
  }
}

.my-bookmarks-wp .bookmarks-inner-wp .my-bookmarks-title {
  color: #00a7b5;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .see-bookmarks-btn {
  background-color: #ffffff;
  border: 2px solid #00a7b5;
  border-radius: 3px;
  color: #00a7b5;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  padding: 10px 15px;
}

.my-bookmarks-wp .bookmarks-inner-wp .see-bookmarks-btn:hover {
  background-color: #00a7b5;
  color: #ffffff;
}

.my-bookmarks-wp .bookmarks-inner-wp .did-you-know-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.my-bookmarks-wp .bookmarks-inner-wp .did-you-know-text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.category-section-title {
  font-size: 2.2rem;
}

.section-underline {
  border: 2px solid #00a7b5;
  margin: 3rem 0;
  width: 12rem;
}

.categories-section {
  background-color: #f1f1f1;
  padding-top: 3rem;
}

.categories-section .category-section-description {
  color: #aaa;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.categories-section .categories-wp {
  padding-bottom: 3rem;
  width: 100%;
}

.categories-section .category-link-wp {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.categories-section .category-link-wp .category, .categories-section .category-link-wp .ceo, .categories-section .category-link-wp .communications, .categories-section .category-link-wp .evaluation, .categories-section .category-link-wp .organizational, .categories-section .category-link-wp .programs, .categories-section .category-link-wp .lorem {
  color: #000000;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.categories-section .category-link-wp .category:hover, .categories-section .category-link-wp .ceo:hover, .categories-section .category-link-wp .communications:hover, .categories-section .category-link-wp .evaluation:hover, .categories-section .category-link-wp .organizational:hover, .categories-section .category-link-wp .programs:hover, .categories-section .category-link-wp .lorem:hover {
  background-color: #f1f1f1;
}

.categories-section .category-link-wp .category .category-title, .categories-section .category-link-wp .ceo .category-title, .categories-section .category-link-wp .communications .category-title, .categories-section .category-link-wp .evaluation .category-title, .categories-section .category-link-wp .organizational .category-title, .categories-section .category-link-wp .programs .category-title, .categories-section .category-link-wp .lorem .category-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.categories-section .category-link-wp .category .category-description, .categories-section .category-link-wp .ceo .category-description, .categories-section .category-link-wp .communications .category-description, .categories-section .category-link-wp .evaluation .category-description, .categories-section .category-link-wp .organizational .category-description, .categories-section .category-link-wp .programs .category-description, .categories-section .category-link-wp .lorem .category-description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  word-wrap: break-word;
}

.categories-section .category-link-wp .ceo {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  color: #ffffff;
}

.categories-section .category-link-wp .ceo:hover {
  color: #00aeef;
}

.categories-section .category-link-wp .communications {
  background-color: #00659d;
  border: 2px solid #00659d;
  color: #ffffff;
}

.categories-section .category-link-wp .communications:hover {
  color: #00659d;
}

.categories-section .category-link-wp .evaluation {
  background-color: #ee7722;
  border: 2px solid #ee7722;
  color: #ffffff;
}

.categories-section .category-link-wp .evaluation:hover {
  color: #ee7722;
}

.categories-section .category-link-wp .organizational {
  background-color: #00b6c9;
  border: 2px solid #00b6c9;
  color: #ffffff;
}

.categories-section .category-link-wp .organizational:hover {
  color: #00b6c9;
}

.categories-section .category-link-wp .programs {
  background-color: #ffce34;
  border: 2px solid #ffce34;
  color: #ffffff;
}

.categories-section .category-link-wp .programs:hover {
  color: #ffce34;
}

.categories-section .category-link-wp .lorem {
  background-color: #b6006a;
  border: 2px solid #b6006a;
  color: #ffffff;
}

.categories-section .category-link-wp .lorem:hover {
  color: #b6006a;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  padding: 2rem;
  position: relative;
}

.card .tag {
  background-color: #00a7b5;
  border-radius: 50%;
  height: 45px;
  position: absolute;
  right: 10px;
  top: -1.5rem;
  width: 45px;
}

.card .tag i {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
}

.card .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  padding-right: 4rem;
  word-wrap: break-word;
}

.card .card-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 2.2rem;
  word-wrap: break-word;
}

.card .view-card {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 7px 10px;
  margin-bottom: 5px;
}

.card .view-card:hover {
  background-color: #ffffff;
  color: #00aeef;
}

.resources-section {
  padding-bottom: 4rem;
  background-color: #f1f1f1;
}

/*# sourceMappingURL=default.css.map */
